@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --card: 255 255 255;
    --card-foreground: 0 0 0;
    --popover: 255 255 255;
    --popover-foreground: 0 0 0;
    --primary: 0 0 0;
    --primary-foreground: 255 255 255;
    --secondary: 240 240 240;
    --secondary-foreground: 0 0 0;
    --muted: 240 240 240;
    --muted-foreground: 120 120 120;
    --accent: 240 240 240;
    --accent-foreground: 0 0 0;
    --destructive: 255 0 0;
    --destructive-foreground: 255 255 255;
    --border: 200 200 200;
    --input: 240 240 240;
    --ring: 0 0 0;
    --radius: 0.5rem;
    --minor: 50 50 50;
  }

  .dark {
    --background: 50 50 50;
    --foreground: 255 255 255;
    --card: 50 50 50;
    --card-foreground: 255 255 255;
    --popover: 50 50 50;
    --popover-foreground: 255 255 255;
    --primary: 255 255 255;
    --primary-foreground: 0 0 0;
    --secondary: 30 30 30;
    --secondary-foreground: 255 255 255;
    --muted: 30 30 30;
    --muted-foreground: 180 180 180;
    --accent: 30 30 30;
    --accent-foreground: 255 255 255;
    --destructive: 153 0 0;
    --destructive-foreground: 255 255 255;
    --border: 30 30 30;
    --input: 30 30 30;
    --ring: 180 180 180;
    --minor: 200 200 200;
  }
}

@layer base {
  :root {
    --background: 100% 100% 100%;
    --foreground: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 100% 100% 100%;
  }

  body {
    @apply bg-white text-black;
  }
  .sidebar {
    width: var(--sidebar-width);
  }
  .page-content {
    width: 100%;
    @media (min-width: 1280px) {
      max-width: 1440px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
